// Styles for counter widget
.counter-widget{
    background-color: #000;
    padding: 15px 15px 15px 15px;
    border: 2px solid #101214;
    margin-left: .1;
    opacity: .7;
    @include flexCenter();

    .tag {
        color:#395066;
    }
}